In [1]:
import tools

In [2]:
session = '1005_1600'
desktop = tools.get_report(session)[0]

In [3]:
json_data, eeg_data = tools.load_data(session, desktop)

No initial offset
End offset applied

In [4]:
df = tools.create_dataframe(session, desktop, json_data, eeg_data)

Trial 1 gamble 20 not submitted at this round
Timestamps ready

In [5]:
df.head()

,desktop,session,gamble number,condition,ambiguity,eeg
0,U9TEJGM,1005_1600,52,computer,6,"[[-10.708886, -10.843139, -9.853341, -10.36450..."
1,U9TEJGM,1005_1600,66,computer,6,"[[1.9439867, 1.6896319, 0.73470926, -0.2926182..."
2,U9TEJGM,1005_1600,11,social,0,"[[-19.345016, -24.626297, -29.127548, -23.4733..."
3,U9TEJGM,1005_1600,2,social,0,"[[-6.8879914, -10.239712, -11.738917, -11.5434..."
4,U9TEJGM,1005_1600,29,social,3,"[[-28.588291, -29.787819, -30.591528, -30.9867..."